/* topbar.css */
/* topbar.css */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Ancho fijo del Topbar */
  height: 100vh; /* Altura completa de la ventana */
  background-color: #ff99cc;
  color: #fff;
  position: fixed;
  top: 0;
  left: 87%; /* Margen izquierdo para mover el Topbar hacia la derecha */
  z-index: 999;
  padding: 20px 0;
}

/* Resto de tu estilo CSS... */


.top:hover {
  width: 200px;
  padding: 20px;
}

.topList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.topListItem {
  margin-bottom: 20px;
}

.topListItem:last-child {
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link:hover {
  text-decoration: underline;
  color: gray;
}

.topLogoutButton {
  background-color: #ff66a3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.topLogoutButton:hover {
  background-color: #e64d87;
}

.topSearchIcon {
  margin-top: 20px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
}
